127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

#- ntp
172.16.3.75	spacewalk.yatra.com pool.ntp.org
172.16.7.100 kubeui.yatra.com

#- all kube hosts
172.16.6.11  rfs1.yatra.com rfs1
172.16.6.12  rfs2.yatra.com rfs2
172.16.6.13  rfs3.yatra.com rfs3
172.16.6.14  rfs4.yatra.com rfs4
172.16.6.15  rfs5.yatra.com rfs5
172.16.6.16  rfs6.yatra.com rfs6
172.16.6.17  rfs7.yatra.com rfs7
172.16.6.18  rfs8.yatra.com rfs8
172.16.6.19  rfs9.yatra.com rfs9
172.16.6.20  rfs10.yatra.com rfs10
172.16.6.21  rfs11.yatra.com rfs11
172.16.6.22  rfs12.yatra.com rfs12
{{ node_ip }}  {{ node_hostname }}
